html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* copied in from App.vue */
#app {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  height: max-content;
  width: 100%;
  z-index: 1;
}
.frontground {
  background-color: #222;
}
.page-container {
  padding: 0 20px 50px;
  background-color: #eee;
}
.page-container-dark {
  background-color: #222;
}
.bkgr {
  position: fixed;
  background-image: url('/assets/tveir_i_sjotta.jpg');
  opacity: 0.3;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.menu {
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: calc(100% - 40px);
  padding: 20px;
  background-color: #cddc39;
  transition: background-color 0.3s ease-in-out;
  z-index: 2;
}
.menu-main {
  width: calc(100% - 35px);
  padding: 20px 20px;
  background-color: #222;
  color: #eee;
}
.menu-main-light {
  background-color: #eee;
  color: #222;
}
.menu-item {
  display: none;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #222;
  border: none;
  background: none;
  padding: 0;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  transform: translateY(0);
}
.menu-item-main {
  display: block;
  color: #eee;
}
.menu-item-main-light {
  color: #222;
}
.menu-item:hover,
.menu-item-active {
  color: #f0006d;
  transition: color 0.2s ease-in-out;
}
.home {
  position: fixed;
  display: block;
  height: 40px;
  width: 40px;
  top: -15px;
  left: 50%;
  z-index: 1;
  margin-left: -20px;
}
.menu-item-first {
  display: flex;
  margin-right: auto;
}
.logo {
  width: 80px;
  height: 25px;
}
.menu-nav {
  background: url('/assets/back.svg') no-repeat;
  width: 50%;
  height: 40px;
  margin: 0 10px;
}
.menu-nav-next {
  transform: rotate(180deg);
}
.menu-nav-hidden {
  opacity: 0;
}
.animate {
  transition-delay: 0.1s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.slide-up {
  -webkit-transform: -webkit-translateY(100px);
  transform: translateY(100px);
  -webkit-opacity: 0;
  opacity: 0;
}
.slide-up.animate-active {
  -webkit-transform: -webkit-translateY(0);
  transform: translateY(0);
  -webkit-opacity: 1;
  opacity: 1;
}

@-webkit-keyframes fadein {
  from {
    -webkit-opacity: 0;
  }
  to {
    -webkit-opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  from {
    -webkit-opacity: 0;
    -webkit-transform: -webkit-translateY(100%);
  }
  to {
    -webkit-opacity: 1;
  }
}

@-webkit-keyframes wiggle {
  77% {
    -webkit-transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  80%,
  86%,
  92% {
    -webkit-transform: scale(1.1) rotateZ(1deg);
  }
  83%,
  89%,
  95% {
    -webkit-transform: scale(1.1) rotateZ(-1deg);
  }
  98% {
    -webkit-transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggle {
  77% {
    transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  80%,
  86%,
  92% {
    transform: scale(1.1) rotateZ(1deg);
  }
  83%,
  89%,
  95% {
    transform: scale(1.1) rotateZ(-1deg);
  }
  98% {
    transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@media screen and (min-width: 800px) {
  .logo {
    width: 100px;
    height: 31px;
  }
  .menu-main {
    width: calc(100% - 60px);
    padding: 30px;
  }
  .page-container {
    padding: 0 45px 50px;
    background-color: #eee;
  }
  .page-container-dark {
    background-color: #222;
  }
  .menu {
    justify-content: flex-end;
  }
  .menu-main {
    display: flex;
  }
  .menu-item {
    display: block;
    margin: 0 15px;
  }
  .menu-item-first {
    display: flex;
    margin-right: auto;
  }
  .home {
    left: 60px;
  }
  .menu-nav {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .menu-item {
    font-size: 21px;
  }
}